<div class="container mt-4">
    <div class="card shadow-lg border-0 rounded-4 p-4">
  
      <h3 class="mb-4 text-center fw-bold text-success"> Add New Task</h3>
  
      
      <div class="mb-3">
        <label class="form-label fw-semibold">Title</label>
        <input [(ngModel)]="task.title" 
               class="form-control" 
               placeholder="Enter task title">
      </div>
  
      
      <div class="mb-3">
        <label class="form-label fw-semibold">Description</label>
        <textarea [(ngModel)]="task.description" 
                  class="form-control" 
                  rows="3"
                  placeholder="Enter task description"></textarea>
      </div>
  
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label fw-semibold">Due Date</label>
          <input type="date" 
                 [(ngModel)]="task.dueDate" 
                 class="form-control">
        </div>
  
        <div class="col-md-6 mb-3">
          <label class="form-label fw-semibold">Task Status</label>
          <select [(ngModel)]="task.status" class="form-select">
            <option value="" disabled selected>Select status</option>
            <option value="Pending">Pending</option>
            <option value="In Progress">In Progress</option>
            <option value="Completed">Completed</option>
          </select>
        </div>
      </div>
  
     
      <div class="mb-4">
        <label class="form-label fw-semibold">Priority Level</label>
        <select [(ngModel)]="task.priority" class="form-select">
          <option value="" disabled selected>Select priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
  
      
      <div class="d-grid">
        <button (click)="addTask()" 
                class="btn btn-success btn-lg fw-bold">
           Add Task
        </button>
      </div>
  
    </div>
  </div>